---
layout: default
---
<!-- Masthead, navbar, etc -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">{{ site.tagline }}</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

      </div>
    </div>
  </div>
</header>


<!-- Icons Grid -->
{% include ribbon.html %}

<!-- Rules -->
{% include rules.html %}

<!-- Admin Team -->
{% include admin-ribbon.html %}

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4" id="join">Θέλω να μπω! Που σας βρίσκω;</h2>
        <p class="bg-dark lead">
          [ENG / GR] Hellenic Milsim #1
        </p>
      </div>


      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <div class="form-row">
          <iframe src="https://discordapp.com/widget?id=772257353059139584&theme=dark" width="100%" height="300"
                  allowtransparency="true" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

