<section class="testimonials text-center bg-dark text-light">
	<div class="container">
		<h2 class="mb-5">Our Admins</h2>
		<div class="row">

			{% for entry in site.data.admins %}
			<div class="col-lg-4">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<img class="img-fluid rounded-circle mb-3" src="{{site.baseurl}}/static/img/admins/{{entry.name}}.png" alt="">
					<h5>{{entry.name}}</h5>
					<!--<p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>-->
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>