<section class="features-icons bg-light text-center">
	<div class="container">
		<div class="row">

			{% for entry in site.data.ribbon %}

			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex"> <i class="far {{ entry.fa }} m-auto text-primary"></i>
					</div>
					<h3>{{ entry.en.title }} / {{ entry.gr.title }}</h3>
					<p class="lead mb-0">{{ entry.en.text }}</p>
					<p class="lead mb-0">{{ entry.gr.text }}</p>
				</div>
			</div>


			{% endfor %}


		</div>
	</div>
</section>