<section class="showcase">
	<h2 class="text-center">Rules / Κανόνες</h2>
	<div class="container-fluid p-0">

	{% for rule in site.data.rules %}

		<div class="row no-gutters">
			<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/rules/{{rule.img}}');"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text">
			<h2>{{ rule.en.title }} / {{ rule.gr.title }} </h2>
			<p class="lead mb-0">{{ rule.en.text }}</p>
			<p class="lead mb-0">{{ rule.gr.text }}</p>
			</div>
		</div>

	{% endfor %}
	</div>
</section>
