<section class="showcase bg-secondary text-light">
  <div class="container-fluid p-0" id="rules">
    {% for rule in site.data.rules %}

    <div class="row no-gutters">
      <div class="col-lg-6 {% cycle 'order-lg-2', '' %} text-white showcase-img" style="background-image: url('{{site.baseurl}}/static/img/rules/{{rule.img}}');"></div>
      <div class="col-lg-6 {% cycle 'order-lg-1 my-auto', '' %} showcase-text">
        <h2>{{ rule.en.title }} / {{ rule.gr.title }} </h2>
        <p class="lead mb-0">{{ rule.en.text }}</p>
        <p class="lead mb-0">{{ rule.gr.text }}</p>
      </div>
    </div>

    {% endfor %}
  </div>
</section>
