<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top navbar-toggleable-md navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" style="font-family: monospace" href="#">join<span style="color: darkorange">squad</span>.gr</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navCollapse"
            aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  justify-content-end" id="navCollapse">
      <ul class="navbar-nav">


        {% for entry in site.data.nav %}
        <li class="nav-item">
          <a class="nav-link" href="{{entry.href}}"><i class="{{entry.fa}} mr-1 ml-2"></i>{{entry.text}}</a>
        </li>

        {% endfor %}

      </ul>

      <form class="form-inline ml-3 my-2 my-sm-0" style="width:74px" action="https://www.paypal.com/cgi-bin/webscr"
            method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="EDUZSUL934Y3G">
        <button class="btn btn-sm my-2 my-sm-0 bg-warning" type="submit" border="0" name="submit"
                alt="PayPal - The safer, easier way to pay online!"><i class="fab fa-paypal" aria-hidden="true"></i>
          Donate
        </button>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
      </form>

    </div>

  </div>
</nav>

{{ content }}

{% include footer.html %}

</body>

</html>
