<!DOCTYPE html>
<html amp lang="en">
<script async src="https://cdn.ampproject.org/v0.js"></script>
{% include head.html %}
<link rel="canonical" href="{{site.url}}">
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top navbar-toggleable-md navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" style="font-family: monospace" href="#">Lucky<span style="color: darkorange">Team
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navCollapse"
            aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  justify-content-end" id="navCollapse">
      <ul class="navbar-nav">


        {% for entry in site.data.nav %}
        <li class="nav-item">
          <a class="nav-link" href="{{entry.href}}"><i class="{{entry.fa}} mr-1 ml-2"></i>{{entry.text}}</a>
        </li>

        {% endfor %}

      </ul>

      <form class="form-inline ml-3 my-2 my-sm-0" style="width:74px" action="https://www.paypal.com/cgi-bin/webscr"
            method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="EDUZSUL934Y3G">
        <button class="btn btn-sm my-2 my-sm-0 bg-warning" type="submit" border="0" name="submit"
                alt="PayPal - The safer, easier way to pay online!"><i class="fab fa-paypal" aria-hidden="true"></i>
          Donate
        </button>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
      </form>

    </div>

  </div>
</nav>

{{ content }}

{% include footer.html %}

</body>

</html>
